ul{
    list-style: none;
    margin: 2rem auto;
    width : 90%;
    max-width: 25rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 30rem;
    background-color: white;
}
li{
    margin: 1rem 0;
    font-size: 1.5rem;
    padding-bottom: 1rem;

    border-bottom: 1px solid #ccc;
    text-align: center;
}
li:last-of-type, li:nth-last-of-type(7) {
    border-bottom: none;
}

li a{
    text-decoration: none;
    color: rgb(94, 90, 90);
}
li a:hover, li a:active{
    color: rgb(230, 96, 147);
}